{% extends 'base.html.twig' %}
{# Le template index.html.twig hérite de notre gabarit de 'base base.html.twig' (header + footer + liens CSS etc ...) #}

{# démarrer Symfony php -S 127.0.0.1:8000 -t publicphp #}

{% block title %}Blog Symfony | Liste des artciles {% endblock %}

{# Le bloc body fait référence au bloc body déclaré dans le fichier base.html.twig #}
{# Le contenu du bloc 'body' est enoyé  dans le bloc body du fichier bas.html.twig #}
{% block body %}

    <h1 class="display-4 text-center my-4">Liste des articles</h1>

<div class="row d-flex justify-content-center">

    <div class="col-md-3 border border secondary rounded mr-1 mb-1">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    
    <div class="col-md-3 border border secondary rounded mr-1 mb-1">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>

        
        <div class="col-md-3 border border secondary rounded mr-1 mb-1">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>

            
            <div class="col-md-3 border border secondary rounded mr-1 mb-1">
                  <h2>Heading</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
{% endblock %}
